.Footer {
  height: 15vh;
  background: #333;
  color: $white;
  align-items: center;
  padding: 1rem 0;

  footer {
    width: 87%;
    margin: 0 auto;
    text-align: center;

    h1 {
      margin: 2rem 0;
    }

    a {
      font-size: 1.5rem;
      color: $white;
    }
  }
}
