.InstructorSingleClass {
  width: $main-width;
  margin: 5rem auto 0;
  font-size: 1.2rem;

  .wrapper-class {
    //  border: 1px solid red;

    .InstructorSingleClass-wrapper {
      display: flex;

      .img-wrapper {
        width: 60%;

        img {
          width: 100%;
          //  height: 80%;

          object-fit: cover;
        }
      }

      .right-side {
        //   border: 1px solid red;
        width: 30%;
        margin-left: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        //   align-items: center;

        p {
          margin: 0.5rem 0;
          font-weight: bold;

          span {
            font-weight: normal;
            display: inline-block;
            margin-left: 0.5rem;
          }
        }
      }
    }

    .bottom-description {
      // border: 1px solid red;
      margin-bottom: 3rem;

      .InstructorSingleClass-description {
        //   border: 1px solid blue;
        border-top: 1px solid grey;
        width: 80%;
        margin: 4rem auto 3rem;
        padding: 2rem 0;

        h2 {
          margin: 0 0 2rem;
        }

        span {
          font-weight: bold;
          text-transform: uppercase;
          display: inline-block;
          margin-bottom: 1rem;
          font-size: 1.1rem;
        }
      }

      .goback-btn {
        display: flex;
        justify-content: center;
        margin-bottom: 2rem;

        a {
          //  border: 1px solid red;
          text-decoration: none;
          padding: 0.5rem 2rem;
          display: inline-block;
          text-align: center;
          background: $main-color;
          color: $white;
          border-radius: 4px;
        }
      }
    }
  }
}
