.EditClass {
  form {
    //  border: 1px solid red;
    width: $main-width;
    margin: 8rem auto 5rem;

    .btn-add-edit {
      button {
        // display: inline-block;
        margin-top: 1.5rem;
        background: $main-color;
        color: $white;
        padding: 0.7rem 2rem;
        border-radius: 4px;
        text-decoration: none;
        text-transform: uppercase;
        cursor: pointer;
        font-size: 1rem;
      }
    }
  }
}
